@import '../../../theme/screen-size.scss';


.toolbar {

    @media only screen and (max-width: 310px) {
        .logo-img {
            // visibility: hidden;
            width: 50px !important;
            margin-left: 0px;
        }
    }

    @media only screen and (max-width: 460px) {
        .logo-img {
            // visibility: hidden;
            width: 90px;
            margin-left: 0px;
        }
    }

    @media only screen and (max-width: $size-sm) {
        .toolbar-btn {
            visibility: hidden;
        }
    }
}