@import '../../../theme/colors.scss';
@import '../../../theme/screen-size.scss';
@import '../../../theme/effects.scss';

// ANCHORS
#start_page {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: auto;
}

.toolbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: $toolbar-height;
  // background-color: $shadow-dark;
  background-color: rgba(114, 96, 48, 0.322);
  // visibility: hidden;

  .left-box {
    position: relative;
    height: $toolbar_height;
    width: max-content;
    left: 0px;
    display: flex;
    align-items: center;

    .logo-img {
      width: 100px;
      margin-left: 20px;
    }

    .toolbar-btn {
      position: relative;
    }
  }
}

.right-box {
  position: absolute;
  height: $toolbar_height;
  width: max-content;
  right: 20px;
  top: 0;
  display: flex;
  align-items: center;
}


.toolbar.light {
  // background-color: $warm-color;

  .left-box {

    .logo-img {
      filter: drop-shadow(2px 2px 0px rgb(46, 46, 46));
    }

    .toolbar-btn {}
  }

  .right-box {}
}