@import '../../../theme/colors.scss';

.icon {
    svg {
        width: 30px;
        height: 30px;
        color: red;
    }
}

.icon.small {
    svg {
        width: 20x;
        height: 20px;
    }
}

.icon.large {
    svg {
        width: 40x;
        height: 40px;
    }
}