.xs-format {
  width: 100% !important;
  margin-left: 0 !important;
}

.sm-format,
.md-format,
.lg-format,
.xl-format {
  width: 60%;
  margin-left: 20%;
}

#events {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 100px;
  background-color: rgb(255, 255, 255);

  .tables-box {
    // display: flex;
    width: 100%;
    height: 60%;

    .event-table-box {
      position: relative;
      // width: calc(100% / 2);
      // height: 100%;
    }
    .map-box {
      position: relative;
      // width: calc(100% / 2);
      width: 100%;
      height: 100%;
      background-image: url("http://joomly.net/frontend/web/images/googlemap/map.png");
    }

    .questionnaire-table-box {
      position: relative;
      width: calc(100% / 3);
      height: 200px;
    }
    .question-table-box {
      position: relative;
      width: calc(100% / 3);
      height: 200px;
    }
  }
}

.event-dialog {

  .step1-box {
    text-align: center;
    display: flex;

    .info-box {
      // background-color: rgb(165, 165, 165);
      width: 250px;
    }

    .tables {
      padding: 20px;
      // background-color: green;

      .questionnaire-table-box {
        // background-color: yellow;
        position: relative;

        .new-question-option {
          padding: 10px;
          display: flex;
          width: 100%;
          padding: 10px;
          border-style: solid;
          border-color: grey;
          border-radius: 5px;
          border-width: 1px;
          // background-color: red;

          .new-question-box {
            width: 30%;
            min-width: 200px;
            
            .question-fields {
              padding: 10px;
              border-style: solid;
              border-color: grey;
              border-radius: 5px;
              border-width: 1px;
              margin-bottom: 10px;
            }

            .option-fields {
              padding: 10px;
              border-style: solid;
              border-color: grey;
              border-radius: 5px;
              border-width: 1px;
            }
          }
          .table-questions {
            width: 55%;
            padding: 20px;
          }

          .btn-add-question {
            margin-top: 20px;
            text-align: center;
            margin: auto;
          }
        }
      }
    }
  }

  //FOOTER
  .footer-dialog {
    position: relative;
    width: 100%;
    height: 60px;
    padding-right: 20px;

    .footer-button {
      float: right;
      border-style: solid;
      margin-left: 20px;
    }
  }
}
