@import '../../../../theme/colors.scss';
@import '../../../../theme/screen-size.scss';

.confirm_data-box {
    position: relative;
    width: 100%;
    margin: auto;
    height: max-content;
    margin-top: 40px;
    text-align: center;
    overflow-x: none;

    .services-box {
        position: relative;
        width: 80%;
        margin: auto;
    }

    .box-item {
        border-width: 1px;
        border-color: $warm-color;
    }

    .confirm_info {
        color: rgb(170, 170, 170);
    }

    .success-icon {
        width: 80px;
        height: 80px;
        color: rgb(199, 194, 109);
    }
}

@media only screen and (max-width: 400px) {
    .confirm_data-box {
        .services-box {
            width: 100%;
            overflow-y: hidden !important;
        }
    }

}

@media only screen and (max-width: $size-xs) {
    .confirm_data-box {
        .services-box {
            overflow-y: hidden !important;
        }
    }
}