.xs-format {
  width: 100% !important;
  margin-left: 0 !important;
}
//this will change
.sm-format,
.md-format,
.lg-format,
.xl-format {
  width: 60%;
  margin-left: 20%;
}

#toolbar {
  // position: relative;
  width: 100%;
  padding-top: 0px;
  padding-right: 5%;
  padding-bottom: 0px;
  padding-left: 5%;

  .v-toolbar__title {
    position: relative;
    font-size: 1.0em;
    width: 100%;
  }

  .logo {
    cursor: pointer;
    width: 120px;
    height: 25px;
  }

  .left-menu-btn {
    position: absolute;
    left: -10px;
    width: 20px;
    height: 20px;
    box-shadow: none;
    background-color: rgb(255, 255, 255);
    .material-icons {
      font-size: 15px;
    }
  }

  .toolbar-items {
    position: absolute;
    text-align: center !important;
    left: 200px !important;
  }

  .right-box {
    float: right;
    display: block;
    margin-left: 40px;
    float: left;

    .toolbar-button-reservation {
      font-size: 10px;
      text-transform: none;
    }
    .reservation-mobile {
      border-radius: 20px;
      background-color: rgb(77, 77, 77)!important;
      color: rgb(255, 255, 255);
      border-style: solid;
      border-color: rgb(151, 151, 151);
    }
  }

  .toolbar-button.v-btn {
    font-size: 10px;
    right: 30px;
    text-transform: none;
  }
}
