@import '../../../styles/theme.scss';

.container-page-box {
    position: relative;
}

.container {
    position: relative;
    margin: 0 20vw;
    padding: 40px 0;
    height: max-content;

    .content-box {

        .left,
        .right {
            display: flex;
            flex-direction: row;
            margin: auto;
        }

        .left {
            .img-box {
                margin: 0 0 0 auto;

                .image {
                    float: right;

                    img {
                        margin: 0 0 0 auto;
                    }
                }
            }
        }

        .right {
            .info-box {
                margin: 0 0 0 auto;
            }
        }

        .info-box {
            width: 50%;
            height: 100%;
            margin-right: 40px;
            text-align: left;

            .title {
                padding: 0;
                margin: 0;
                text-align: left;
                // text-align: center;
            }
        }

        .img-box {
            position: relative;
            display: block;
            right: 0;
            width: 50%;

            .image {
                height: max-content;
                width: max-content;

                img {
                    display: block;
                    height: 100%;
                    max-width: 340px;
                    max-height: 460px;
                    object-fit: cover;
                    border-color: $cool-color;
                    border-width: 4px;
                    border-radius: 8px;
                    margin: auto;
                    box-shadow: 0px 5px 10px $shadow-color;
                }
            }

            .image-footer {
                position: relative;
                width: 100%;
                height: max-content;
                background-color: green;
            }
        }
    }
}

// IPHONE5/SE
@media only screen and (max-width: $mobile-screen) {
    .container {
        margin: 0 10vw;

        .content-box {

            .left,
            .right {
                width: 100%;
                height: max-content;
                display: inherit;
                padding-bottom: 0px;
            }

            .info-box {
                position: relative;
                z-index: 1;
                width: 100%;

                .title {
                    margin: 0 0 0 0;
                }
            }

            .img-box {
                position: relative;
                text-align: center;
                text-align: center;
                margin: auto !important;

                .image {
                    width: 100%;
                    margin: 0 !important;
                    float: none !important;

                    img {
                        width: 100%;
                        margin: auto !important;
                    }
                }
            }

            .right {
                .info-box {
                    .title {
                        margin-top: 40px;
                    }
                }
            }

        }
    }
}