$primary: #d8d7d7;
$p_light:rgb(167, 167, 167);
$p_light: rgb(218, 218, 218);
$p_dark: rgb(0, 0, 0); //'#000'

$secondary:#a5a262;
$s_light: #c3bf6f;
$s_dark:#817f4a;

$text_on_p: rgb(31, 31, 31); //'#ffffff'
$text_on_s: rgb(255, 255, 255); //'#ffffff'
$text_light: rgb(240, 240, 240);
$text_dark: black;
$text_error: rgb(255, 116, 116);






/* light theme colors */
$primary-light: #d8d7d7;
$secondary-light: rgb(167, 167, 167);
$tertiary-light: rgb(105, 105, 105);

/* details */
$warm-color: #a5a262;
$cool-color: #c3bf6f;

/* shadows */
$shadow-color: #292929;
$shadow-dark: rgba(0, 0, 0, 0.801);
$shadow-light: rgba(238, 238, 238, 0.9);

/* fonts colors */
$dark-text: #303030; //#303030d5
$light-text: #bebebe; //#bebebeef