$f1: 32px;
$f2: 28px;
$f3: 24px;
$f4: 20px;
$f5: 12px;
$f6: 10px;

// Fonts sizes
$font_size_responsive: 0;
$font_size_small: 14px;
$font_size_medium: 16px;
$font_size_big: 24px;
$font-size-extra_big: 34px;