html {
    padding: 0 !important;
    margin: 0;
}

body {
    padding: 0 !important;
    margin: 0;
}

#app {
    .toolbar-app-fixed {
        position: fixed;
        z-index: 2;
    }

    .left_menu-app-fixed {
        position: fixed;
    }

    .container {
        padding: 0 !important;
    }

    .goToUp {
        position: fixed;
        z-index: 2;
        right: 10px;
        bottom: 50px;
    }
}