#drawer-left {
  width: 100% !important;
  text-align: center;
  padding-top: 50%;
  margin-top: 65px !important;

  .left-menu-btn {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 30px;
    height: 30px;
    box-shadow: none;
    // background-color: rgb(255, 255, 255);
    .material-icons {
      font-size: 15px;
    }
  }

  .settings {
    position: absolute !important;
    bottom: 5px !important;
    right: 5px !important;
  }

  .list-item {
    margin: auto;
  }
}
