@import '../../../theme/screen-size.scss';
@import '../../../theme/effects.scss';


@media only screen and (min-width: $size-sm) {

  .left-menu,
  .left-menu-activator-btn,
  .left-menu-dialog {
    position: absolute;
    visibility: hidden;
  }
}

.left-menu {
  .left-menu-activator-btn {
    position: relative;
    @include effect-slide(left, 60px, .5s);
  }
}

.left-menu-dialog {
  text-align: center;

  .dialog-modal {
    background-color: rgba(0, 0, 0, 0.700);
    @include effect-slide(left, 100vw, .6s);

    .left-menu-box {
      width: 100%;
      height: 80vh;
      display: flex;
      align-items: center;
      @include effect-appear(2s);

      .list-buttons {
        margin: auto;

        .left-menu-btn {
          margin: 1em 0px;
        }
      }
    }

    .logo {
      position: absolute;
      top: 5em;
      width: 100%;
      @include effect-appear(2s);

      img {
        opacity: .2;
      }
    }
  }
}