.manager-dialog {
    .content-manager {
        width: max-content;
        display: flex;
        margin: auto;

        // background-color: green;
        .step {
            margin: 0 40px;
        }
    }

    .manager-select {
        p {
            display: flex;
            align-items: center;
        }

        display: flex;
    }

    .services-box {
        height: 400px;
        overflow-y: scroll;
    }
}