.xs-format {
  width: 100% !important;
  margin-left: 0 !important;
}

.sm-format,
.md-format,
.lg-format,
.xl-format {
  width: 60%;
  margin-left: 20%;
}

#events {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 100px;
  background-color: rgb(255, 255, 255);
}

.event-dialog {
  .info-box {
    background-color: rgb(255, 255, 255);
    // height: 200px;
  }
  .q-box {
    height: 200px;
  }

 


}
