#login-box {
  position: relative;
  top: 10%;
  margin: auto;
  width: 300px;
  padding: 40px;
  border-radius: 4px;
  background-color: white;
}

// v-text-field Style
.organize__text-field {
  margin-bottom: 15px;

  ::selection {
    background-color: #5c1349 !important;
    color: white !important;
  }

  .primary--text {
    color: #5c1349 !important;
  }

  .v-input__slot:before,
  :after {
    visibility: hidden;
  }

  .v-text-field__slot {
    background-color: #d9d9d9;
    border-radius: 4px;

    label {
      top: 3px;
      margin-left: 20px;
    }

    label.v-label--active {
      top: 0px;
      padding-bottom: 40px !important;
    }
  }

  input {
    margin-left: 20px;
    padding: 4px 0 4px !important;
    color: rgb(24, 24, 24);
  }

  .text-field__internal-btn {
    top: -10px;
  }

  .v-messages__message {
    margin-left: 20px;
  }
}

.organize__text-field_button {
  input {
    width: 200px !important;
  }
}