#home {
  .info-box {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    background-color: #00000080;
    padding: 20px;

    .welcome {
      font-size: x-large;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
      font-style: italic;
      color: rgba(255, 255, 255, 0.904);
    }
    .button-access {
      margin: 20px;
      opacity: 0.9;
      width: 120px;
    }
  }
}
