.v-dialog__content.v-dialog__content--active {
  background-image: url("");
  background-repeat: repeat;
  background-size: 50px;
}

.v-dialog {
  border-radius: 4px !important;
  background-color: white;
  width: max-content;
}

.v-dialog.v-dialog--fullscreen {
  width: 100%;
}

.reservation-dialog {
  background-color: #ffffff !important;

  .btn_close {
    top: 0px;
    left: 0px;
  }

  .v-stepper {
    border-radius: 0px !important;
    box-shadow: none;

    .v-stepper__content {
      padding: 0px;
    }
  }

  //STEP 0: CUSTOM CONTENT
  .content {
    position: relative;
    height: 100% !important;

    .step-title {
      text-align: center;
      // padding: 20px;
    }

    .items-list {
      position: relative;
      width: 100%;
      top: 20px;
      padding: 10px;
      text-align: center;
      overflow-y: auto;

      .item {
        position: relative;
        margin: 5px;
        width: 120px;
        height: 80px;
        display: inline-table;
        text-align: center;

        .item-img {
          border-radius: 50%;
          width: 60px;
          height: 60px;
          margin: auto;
          border-width: 4px;
          border-style: solid;
          background-color: white;
          border-color: white;
        }

        .item-img-big {
          border-radius: 10px;
          width: 120px;
          height: 120px;
          margin: auto;
          border-width: 4px;
          border-style: solid;
          background-color: white;
          border-color: white;
        }

        .item-name {
          font-size: 12px;
        }

        .item-info,
        .item-cost {
          color: #504e4ebb;
          font-size: 12px;
        }
      }

      .item:hover {
        .item-img {
          border-color: rgba(22, 255, 22, 0.534);
        }
        .item-img-big {
          border-color: rgba(22, 255, 22, 0.534);
        }
      }
    }

    .selected-item {
      position: relative;
      width: 100%;
      // height: max-content;
      // padding: 30px;
      text-align: center;

      .select-item-name {
        // position: relative;
        font-size: 13px;
        margin-top: 30px;
      }

      .item {
        position: relative;
        margin: 5px;
        width: 100%;
        height: 140px;
        // display: inline-table;
        text-align: center;

        .item-img {
          border-radius: 50%;
          width: 60px;
          height: 60px;
          margin: auto;
          border-width: 4px;
          border-style: solid;
          background-color: white;
          border-color: white;
        }

        .item-name {
          // margin-top: 10px;
          font-size: 14px;
        }

        .item-info {
          color: #504e4ebb;
          font-size: 14px;
        }
      }
    }
  }
  //AUTOMATIC CONTENT
  .automatic-box {
    position: relative;
    // background-color: red;
    width: 200px;
    margin: auto;
    .layout-box {
      .hours-item {
        .hours-name {
          text-align: center;
          margin-top: 20px;
          font-size: 14px;
        }
      }
    }
  }

  //FOOTER
  .footer-dialog {
    position: relative;
    width: 100%;
    height: 60px;
    // bottom: 0px;
    padding-right: 20px;
    margin-top: 50px;

    .footer-button {
      float: right;
      border-style: solid;
      margin-left: 20px;
    }
  }
}
